In [1]:
import ...

In [2]:
crm = pd.read_csv(r'', sep =';')

In [3]:
crm = crm.rename(columns={'date': 'Календарный день','plant': 'Магазин','trans_numb': '№ транзакции','flag_lk_nk': 'Флаг ЛК/НК',
                      'gs_with_disc': 'Gross Sales','ns_with_disc': 'Net Sales','checks': 'Check',
                      'sales_checks': 'Sales checks','pcs': 'PCS','discount': 'Сумма скидки'})

In [4]:
crm

,Календарный день,Магазин,№ транзакции,Флаг ЛК/НК,Gross Sales,Net Sales,Check,Sales checks,PCS,Сумма скидки
0,2022-01-01,202,NaN,NK,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-01,203,NaN,NK,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,204,NaN,NK,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,207,NaN,NK,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-05,2402,NaN,NK,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3673746,2022-06-30,8602,94805.0,NK,800.0,666.67,1.0,1.0,1.0,NaN
3673747,2022-06-30,8602,94806.0,NK,200.0,166.67,1.0,1.0,1.0,NaN
3673748,2022-06-30,8602,94807.0,LK,4156.0,3463.32,1.0,1.0,8.0,700.0
3673749,2022-06-30,8602,94808.0,NK,506.0,421.67,1.0,1.0,2.0,NaN
3673750,2022-06-30,8602,94809.0,LK,99.0,82.50,1.0,1.0,1.0,NaN

In [5]:
crm = crm.dropna(subset =['№ транзакции'])
crm['№ транзакции'] = crm['№ транзакции'].astype('int32')
crm['№ транзакции'] = crm['№ транзакции'].astype('str')

C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\226291296.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['№ транзакции'] = crm['№ транзакции'].astype('int32')
C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\226291296.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['№ транзакции'] = crm['№ транзакции'].astype('str')

In [6]:
crm

,Календарный день,Магазин,№ транзакции,Флаг ЛК/НК,Gross Sales,Net Sales,Check,Sales checks,PCS,Сумма скидки
5,2022-01-01,207,104035,LK,296.0,246.67,1.0,1.0,2.0,74.0
6,2022-01-01,207,197679,LK,2201.0,1834.17,1.0,1.0,3.0,200.0
7,2022-01-01,207,197680,LK,4009.0,3340.83,1.0,1.0,2.0,NaN
8,2022-01-01,207,197681,LK,623.0,519.17,1.0,1.0,3.0,400.0
9,2022-01-01,207,197682,NK,600.0,500.01,1.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...
3673746,2022-06-30,8602,94805,NK,800.0,666.67,1.0,1.0,1.0,NaN
3673747,2022-06-30,8602,94806,NK,200.0,166.67,1.0,1.0,1.0,NaN
3673748,2022-06-30,8602,94807,LK,4156.0,3463.32,1.0,1.0,8.0,700.0
3673749,2022-06-30,8602,94808,NK,506.0,421.67,1.0,1.0,2.0,NaN
3673750,2022-06-30,8602,94809,LK,99.0,82.50,1.0,1.0,1.0,NaN

In [7]:
crm['Календарный день'] = crm['Календарный день'].map(lambda x: dt.datetime.strptime (x, '%Y-%m-%d'))
#crm['Календарный день'] = pd.to_datetime(crm['Календарный день'], format="%d.%m.%Y")
crm['Магазин'] = crm['Магазин'].fillna('0')
crm['Магазин'] = crm['Магазин'].astype('int64')
crm['№ транзакции'] = crm['№ транзакции'].fillna('0')
#crm['№ транзакции'] = crm['№ транзакции'].astype('int64')

C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\1120161668.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['Календарный день'] = crm['Календарный день'].map(lambda x: dt.datetime.strptime (x, '%Y-%m-%d'))
C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\1120161668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['Магазин'] = crm['Магазин'].fillna('0')
C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\1120161668.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['Магазин'] = crm['Магазин'].astype('int64')
C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\1120161668.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['№ транзакции'] = crm['№ транзакции'].fillna('0')

In [8]:
crm

,Календарный день,Магазин,№ транзакции,Флаг ЛК/НК,Gross Sales,Net Sales,Check,Sales checks,PCS,Сумма скидки
5,2022-01-01,207,104035,LK,296.0,246.67,1.0,1.0,2.0,74.0
6,2022-01-01,207,197679,LK,2201.0,1834.17,1.0,1.0,3.0,200.0
7,2022-01-01,207,197680,LK,4009.0,3340.83,1.0,1.0,2.0,NaN
8,2022-01-01,207,197681,LK,623.0,519.17,1.0,1.0,3.0,400.0
9,2022-01-01,207,197682,NK,600.0,500.01,1.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...
3673746,2022-06-30,8602,94805,NK,800.0,666.67,1.0,1.0,1.0,NaN
3673747,2022-06-30,8602,94806,NK,200.0,166.67,1.0,1.0,1.0,NaN
3673748,2022-06-30,8602,94807,LK,4156.0,3463.32,1.0,1.0,8.0,700.0
3673749,2022-06-30,8602,94808,NK,506.0,421.67,1.0,1.0,2.0,NaN
3673750,2022-06-30,8602,94809,LK,99.0,82.50,1.0,1.0,1.0,NaN

In [9]:
halva = pd.read_excel(r'')

In [10]:
halva

,Магазин,ТЦ,Номер карты клиента (файл),Номер карты клиента (продажи),Код авторизации,Номер транзакции (чека),Дата совершения транзакции,Дата обработки транзакции банком,Сумма по чеку,Сумма по файлу,Разница (файл - чек),Вознаграждение %,Вознаграждение руб.
0,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0419,************0419,606355,556188,22.07.2022,22.07.2022,1000.0,1000.0,0.0,3,30.00
1,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0511,************0511,723372,62195,05.07.2022,05.07.2022,2300.0,2300.0,0.0,3,69.00
2,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0636,************0636,604268,549000,19.05.2022,19.05.2022,4995.0,4995.0,0.0,3,149.85
3,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0636,************0636,621389,549001,19.05.2022,19.05.2022,1599.0,1599.0,0.0,3,47.97
4,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0644,************0644,780944,548100,17.04.2022,17.04.2022,553.0,553.0,0.0,3,16.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40836,#,Не присвоено,QR,Не присвоено,0,#,11.09.2022,11.09.2022,0.0,4526.0,4526.0,9,407.34
40837,#,Не присвоено,QR,Не присвоено,0,#,13.09.2022,13.09.2022,0.0,1599.0,1599.0,3,47.97
40838,#,Не присвоено,QR,Не присвоено,0,#,21.09.2022,21.09.2022,0.0,4364.0,4364.0,9,392.76
40839,#,Не присвоено,QR,Не присвоено,0,#,25.09.2022,25.09.2022,0.0,1852.0,1852.0,6,111.12
40840,#,Не присвоено,QR,Не присвоено,0,#,30.09.2022,30.09.2022,0.0,1851.0,1851.0,3,55.53

In [11]:
halva['Магазин'] = halva['Магазин'].fillna(method='ffill')
halva['ТЦ'] = halva['ТЦ'].fillna(method='ffill')

In [12]:
halva

,Магазин,ТЦ,Номер карты клиента (файл),Номер карты клиента (продажи),Код авторизации,Номер транзакции (чека),Дата совершения транзакции,Дата обработки транзакции банком,Сумма по чеку,Сумма по файлу,Разница (файл - чек),Вознаграждение %,Вознаграждение руб.
0,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0419,************0419,606355,556188,22.07.2022,22.07.2022,1000.0,1000.0,0.0,3,30.00
1,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0511,************0511,723372,62195,05.07.2022,05.07.2022,2300.0,2300.0,0.0,3,69.00
2,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0636,************0636,604268,549000,19.05.2022,19.05.2022,4995.0,4995.0,0.0,3,149.85
3,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0636,************0636,621389,549001,19.05.2022,19.05.2022,1599.0,1599.0,0.0,3,47.97
4,0202,"ТК ""ЦЕНТРАЛЬНЫЙ""",220027******0644,************0644,780944,548100,17.04.2022,17.04.2022,553.0,553.0,0.0,3,16.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40836,#,Не присвоено,QR,Не присвоено,0,#,11.09.2022,11.09.2022,0.0,4526.0,4526.0,9,407.34
40837,#,Не присвоено,QR,Не присвоено,0,#,13.09.2022,13.09.2022,0.0,1599.0,1599.0,3,47.97
40838,#,Не присвоено,QR,Не присвоено,0,#,21.09.2022,21.09.2022,0.0,4364.0,4364.0,9,392.76
40839,#,Не присвоено,QR,Не присвоено,0,#,25.09.2022,25.09.2022,0.0,1852.0,1852.0,6,111.12
40840,#,Не присвоено,QR,Не присвоено,0,#,30.09.2022,30.09.2022,0.0,1851.0,1851.0,3,55.53

In [13]:
m = {"#":0}
halva = halva.replace(m)

In [14]:
halva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40841 entries, 0 to 40840
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Магазин                           40841 non-null  object
 1   ТЦ                                40841 non-null  object
 2   Номер карты клиента (файл)        40841 non-null  object
 3   Номер карты клиента (продажи)     40841 non-null  object
 4   Код авторизации                   40841 non-null  int64
 5   Номер транзакции (чека)           40841 non-null  object
 6   Дата совершения транзакции        40841 non-null  object
 7   Дата обработки транзакции банком  40841 non-null  object
 8   Сумма по чеку                     40841 non-null  float64
 9   Сумма по файлу                    40841 non-null  float64
 10  Разница (файл - чек)              40841 non-null  float64
 11  Вознаграждение %                  40841 non-null  int64
 12  Вознаграждение руб.               40841 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 4.1+ MB

In [15]:
crm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3647007 entries, 5 to 3673750
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Календарный день  datetime64[ns]
 1   Магазин           int64
 2   № транзакции      object
 3   Флаг ЛК/НК        object
 4   Gross Sales       float64
 5   Net Sales         float64
 6   Check             float64
 7   Sales checks      float64
 8   PCS               float64
 9   Сумма скидки      float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 306.1+ MB

In [16]:
halva.rename(columns={'Номер транзакции (чека)': '№ транзакции', 'Дата обработки транзакции банком':'Календарный день' }, inplace=True)
halva['№ транзакции'] = halva['№ транзакции'].fillna('0')
#halva['№ транзакции'] = halva['№ транзакции'].astype('int64')
halva['Код авторизации'] = halva['Код авторизации'].fillna('0')
halva['Код авторизации'] = halva['Код авторизации'].astype('int64')
halva['Магазин'] = halva['Магазин'].astype('int64')
halva['Календарный день'] = pd.to_datetime(halva['Календарный день'], format="%d.%m.%Y")
halva['Дата совершения транзакции'] = halva['Дата совершения транзакции'].map(lambda x: dt.datetime.strptime (x, '%d.%m.%Y'))

In [17]:
crm = crm[~crm['№ транзакции'].str.contains("[a-zA-Z]").fillna(False)]

In [18]:
crm['№ транзакции'].unique()

array(['104035', '197679', '197680', ..., '495920', '495922', '495971'],
      dtype=object)

In [19]:
crm['№ транзакции'] = crm['№ транзакции'].astype('int32')

In [20]:
halva['№ транзакции'] = halva['№ транзакции'].astype('int32')

In [21]:
halva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40841 entries, 0 to 40840
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Магазин                        40841 non-null  int64
 1   ТЦ                             40841 non-null  object
 2   Номер карты клиента (файл)     40841 non-null  object
 3   Номер карты клиента (продажи)  40841 non-null  object
 4   Код авторизации                40841 non-null  int64
 5   № транзакции                   40841 non-null  int32
 6   Дата совершения транзакции     40841 non-null  datetime64[ns]
 7   Календарный день               40841 non-null  datetime64[ns]
 8   Сумма по чеку                  40841 non-null  float64
 9   Сумма по файлу                 40841 non-null  float64
 10  Разница (файл - чек)           40841 non-null  float64
 11  Вознаграждение %               40841 non-null  int64
 12  Вознаграждение руб.            40841 non-null  float64
dtypes: datetime64[ns](2), float64(4), int32(1), int64(3), object(3)
memory usage: 3.9+ MB

In [22]:
crm = crm.merge(halva[['Календарный день', 'Магазин', '№ транзакции','Номер карты клиента (продажи)']], on=['Календарный день', 'Магазин', '№ транзакции'], how = 'left')

In [23]:
crm

,Календарный день,Магазин,№ транзакции,Флаг ЛК/НК,Gross Sales,Net Sales,Check,Sales checks,PCS,Сумма скидки,Номер карты клиента (продажи)
0,2022-01-01,207,104035,LK,296.0,246.67,1.0,1.0,2.0,74.0,NaN
1,2022-01-01,207,197679,LK,2201.0,1834.17,1.0,1.0,3.0,200.0,NaN
2,2022-01-01,207,197680,LK,4009.0,3340.83,1.0,1.0,2.0,NaN,NaN
3,2022-01-01,207,197681,LK,623.0,519.17,1.0,1.0,3.0,400.0,NaN
4,2022-01-01,207,197682,NK,600.0,500.01,1.0,1.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3647126,2022-06-30,8602,94805,NK,800.0,666.67,1.0,1.0,1.0,NaN,NaN
3647127,2022-06-30,8602,94806,NK,200.0,166.67,1.0,1.0,1.0,NaN,NaN
3647128,2022-06-30,8602,94807,LK,4156.0,3463.32,1.0,1.0,8.0,700.0,NaN
3647129,2022-06-30,8602,94808,NK,506.0,421.67,1.0,1.0,2.0,NaN,NaN
3647130,2022-06-30,8602,94809,LK,99.0,82.50,1.0,1.0,1.0,NaN,NaN

In [24]:
crm = crm.dropna(subset=['Check', 'PCS'])

In [25]:
crm

,Календарный день,Магазин,№ транзакции,Флаг ЛК/НК,Gross Sales,Net Sales,Check,Sales checks,PCS,Сумма скидки,Номер карты клиента (продажи)
0,2022-01-01,207,104035,LK,296.0,246.67,1.0,1.0,2.0,74.0,NaN
1,2022-01-01,207,197679,LK,2201.0,1834.17,1.0,1.0,3.0,200.0,NaN
2,2022-01-01,207,197680,LK,4009.0,3340.83,1.0,1.0,2.0,NaN,NaN
3,2022-01-01,207,197681,LK,623.0,519.17,1.0,1.0,3.0,400.0,NaN
4,2022-01-01,207,197682,NK,600.0,500.01,1.0,1.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3647126,2022-06-30,8602,94805,NK,800.0,666.67,1.0,1.0,1.0,NaN,NaN
3647127,2022-06-30,8602,94806,NK,200.0,166.67,1.0,1.0,1.0,NaN,NaN
3647128,2022-06-30,8602,94807,LK,4156.0,3463.32,1.0,1.0,8.0,700.0,NaN
3647129,2022-06-30,8602,94808,NK,506.0,421.67,1.0,1.0,2.0,NaN,NaN
3647130,2022-06-30,8602,94809,LK,99.0,82.50,1.0,1.0,1.0,NaN,NaN

In [26]:
crm['Клиент Халва'] = np.where(crm['Номер карты клиента (продажи)'].isnull(), 'Другой способ оплаты','Оплата картой Халва')

C:\Users\a.kryltsova\AppData\Local\Temp\ipykernel_18612\3465126502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crm['Клиент Халва'] = np.where(crm['Номер карты клиента (продажи)'].isnull(), 'Другой способ оплаты','Оплата картой Халва')

In [27]:
crm.groupby(by='Клиент Халва').size()

Клиент Халва
Другой способ оплаты    3584419
Оплата картой Халва       29631
dtype: int64

In [28]:
crm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3614050 entries, 0 to 3647130
Data columns (total 12 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Календарный день               datetime64[ns]
 1   Магазин                        int64
 2   № транзакции                   int32
 3   Флаг ЛК/НК                     object
 4   Gross Sales                    float64
 5   Net Sales                      float64
 6   Check                          float64
 7   Sales checks                   float64
 8   PCS                            float64
 9   Сумма скидки                   float64
 10  Номер карты клиента (продажи)  object
 11  Клиент Халва                   object
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(3)
memory usage: 344.7+ MB

In [29]:
def Статус_клиента(crm):
    Статус_клиента = []
    for i in range(len(crm)):
        
        if   crm.iloc[i,3] == 'NK' and  crm.iloc[i,11] == 'Другой способ оплаты':
            Статус_клиента.append("Нелояльный покупатель")
             
        elif crm.iloc[i,3] == 'NK' and  crm.iloc[i,11] == 'Оплата картой Халва':
            Статус_клиента.append("Клиент которого привела Халва")
            
        elif  crm.iloc[i,3] == 'LK' and  crm.iloc[i,11] == 'Другой способ оплаты':
            Статус_клиента.append("Клиент MODIS не совершивший покупку картой Халва")
            
        elif crm.iloc[i,3] == 'LK' and  crm.iloc[i,11] == 'Оплата картой Халва':
            Статус_клиента.append("Клиент MODIS покупка по карте Халва")
            
        else:
            Статус_клиента.append('Не определено')
             
    crm['Статус клиента'] =  Статус_клиента

Статус_клиента(crm)

KeyboardInterrupt:

In [ ]:
crm.groupby(by='Статус клиента').size()

In [ ]:
crm1 = crm.groupby(by = ['Календарный день','Магазин','№ транзакции'])['№ транзакции'].count()
crm1 = pd.DataFrame(data=crm1)
crm1 = crm1.rename(columns={"№ транзакции": "Count № транзакции"})
crm1 = crm1.reset_index()

In [ ]:
crm1

In [ ]:
crm2 = crm.groupby(by = ['Магазин','Календарный день','№ транзакции']).sum()
crm2 = crm.reset_index()

In [ ]:
crm2= crm2.drop(columns = ['index','Check' ,'Sales checks','Номер карты клиента (продажи)'])

In [ ]:
crm2 = pd.merge(crm2, crm1, on = ['Календарный день', 'Магазин', '№ транзакции'], how = "left")

In [ ]:
crm2

In [ ]:
shops = pd.read_excel(r'P:\Бизнес-контроль\Магазины 17.08.2022.xlsx')
shops = shops[['магазин','тц', 'регион', 'территория','статус_жц', 'статус_ценового_упр']]
shops = shops.rename(columns={'магазин': 'Магазин'})

In [ ]:
crm2 = pd.merge(crm2, shops, on = ['Магазин'])

In [ ]:
crm2

In [ ]:
crm2['Дата'] = crm2['Календарный день']
crm2['Месяц'] = crm2['Календарный день'].dt.month
crm2['Год'] = crm2['Календарный день'].dt.year
crm2 = crm2.drop(columns = ['№ транзакции' ])
crm2 = crm2.rename(columns={"Count № транзакции": "Cheks"})

In [ ]:
crm2

In [ ]:
crm2 = crm2[['Календарный день' , 'Магазин', 'Флаг ЛК/НК', 'Gross Sales', 'Net Sales', 'PCS', 'Сумма скидки', 'Клиент Халва',
           'Статус клиента', 'Cheks', 'тц', 'регион', 'территория', 'статус_жц', 'статус_ценового_упр', 'Дата','Месяц','Год']]

In [ ]:
crm2